/* =================================================
                      General
================================================== */

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}

body{
    margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #fed036;
}

a:visited {
  color: black;
}

h1{
  font-family: 'Karla', sans-serif;
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: bold;
  margin: 0 auto;
  padding: 5px;
}

h2 {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 5px;
}

h3 {
  font-family: 'Merriweather', serif;
  font-style: italic;
  line-height: 1.5em;
  font-size: .75em;
  font-weight: 200;
  color: #000000a6;
  margin: 0 auto;
  padding: 5px;
}

h4, h5 {
  font-weight: bold;
  font-size: 1em;
  color: black;
  line-height: 1.7em;
  margin: 0 auto;
  padding: 5px;
}

p {
  font-weight: 200;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.container p,
.container li {
  text-align: justify;
}

/* =================================================
                      Clearfix
================================================== */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }   /* Clearfix end */

  /* =================================================
                        HEADER
  ================================================== */

/* =========   Collapsable top menu   ========= */

.main-logo {
  width: 50px;
  margin: .2em;
  max-width: 100px;
}

.collapsible-menu {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  height: auto;
}

.active-menu, .collapsible-menu:hover {
  background-color: white;
}

.collapsible-menu:after {
  content: '\2795';
  color: black;
  font-weight: bold;
  float: right;
  margin: .7em;
}

.active-menu:after {
  content: "\2796";
}

.collapsible-content-menu {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
}

.language {
  display: flex;
  font-size: .9em;
  justify-content: space-around;
}

.language a{
  padding: 5px 10px;
}

.top-nav,
.nav-links {
  display: flex;
  flex-direction: column;
}

.top-nav{
  padding-bottom: 2em;
}

.nav-links {
  /* order: 1; */
  padding: 1em 0 2em;
}

.nav-links * {
  padding: 0.9em 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
} /* Collapsable top menu */


/* =========   Welcome sticky background   ========= */

#div_background{
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
}

#div_background > div {
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  right: 0px;
  bottom: 0px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background: linear-gradient(to right,rgba(0,0,0,0), rgba(0,0,0,0)),
  url("../images/iMac.png") center center/80% no-repeat;
  }/* Welcome sticked background end */


/* =========   Welcome page content   ========= */

#welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
}

#welcome-top{
  background-image: linear-gradient(to bottom, rgba(255,255,255,1),
  rgba(255,255,255,0.9) 90%,
  rgba(255,255,255,0));
  padding-bottom: 1em;
}

#welcome-bottom{
  padding-top: 1em;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0),
  rgba(255,255,255,0.9) 15%,
  rgba(255,255,255,1));
}

#welcome-bottom div {
  width: 90%;
  margin: .2em auto 1em;
}

#welcome-bottom a {
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation: example 3s infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation: example 3s infinite;
  border-radius: 30px;
  border: 5px solid #ae1c28;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: .2em;
}

.welcome {
  margin: 0 auto;
}

.welcome a{
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: 700;
  background-color: #21468b;
  border-radius: 4px;
  margin: .2em;
  color: white;
}

.welcome h2{
  padding: 0;
}
.welcome p {
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 2em;
  color: #24334f8c;
}

strong {
  font-weight: bold;
}

.bottom-nav {
  display: none;
}

/*   Makes size of button text grow   */

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {font-weight: 700; }
  50% {font-weight: 200;}
  to {font-weight: 700;}
}

/* Standard syntax */
@keyframes example {
  from {font-weight: 700; }
  50% {font-weight: 200;}
  to {font-weight: 700;}
}/*Welcome page content end*/

/* =================================================
                      MAIN
================================================== */

main{
  background-color: white;
  padding-top: 2em;
  font-weight:300;
}


#content {
  padding-top: 1em;
}


/* =========   Collapsable Learn more button at MVV section   ========= */

.collapsible-more {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1em;
  height: auto;
}

.active-more, .collapsible-more:hover {
  background-color: white;
}

.collapsible-more:after {
  color: black;
  font-weight: bold;
  margin: .7em;
}

.content-more {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
} /* Collapsable Learn more button at MVV section end*/

#lady_with_mac {
  background: url("../images/lady_with_mac.jpg") center center/contain no-repeat;
  min-width: 100%;
  height: 16em;
}

.contentList {
  margin: 0 auto;
}

.contentList div div{
  margin: 1em 0 0;
  padding: 10px 0 0;
}

.contentList div div div{
  margin: 0 auto;
}

.contentList img{
  margin: 0.1em auto;
  max-width: 3em;
}

.author {
  background-color: #f7f7f7;
}

.author > div {
  margin: 2em auto 0;
  width: 100%;
}

.author p {
  margin: 1em;
}

  #author-photo{
    display: inline-block;
    background: url("../images/author.jpg") center center/contain no-repeat;
    min-width: 100%;
    min-height: 35em;
  }

ul {
    list-style-type: square;
    /* padding: 1em; */
    margin: 15px 10px;
}

li {
  padding: 5px;
}

.about {
  margin-top: 3.5em;
  padding-top: .5em;
}

.adds {
    list-style-image: url('../images/nastya.png');
}

  #summary-images {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content:stretch;
  }

  #summary-images div:nth-child(1){
    display: inline-block;
    width: 60%;
    height: 10em;
    background: url("../images/tablet.jpg") center center/contain no-repeat;
  }

  #summary-images div:nth-child(2){
    display: inline-block;
    width: 40%;
    height: 10em;
    margin-left: 5px;
    background: url("../images/iPhone.jpg") center center/contain no-repeat;
  }

.collapsable-rows{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  align-items:center;
  width: 90%;
  margin: 0 auto;
}

.crossbutton {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2{
    width: 23px;
    height: 1px;
    background-color: #333;
    transition: 0.5s;
    margin: -1px;
}
.bar1 {
  transform: rotate(90deg);
}

.bar2 {
  /* transform: rotate(90deg); */
  /* margin: -2px; */
}

.change .bar1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.change .bar2 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/*Collapsable more buttom at the top menu*/
.collapsible-rows-div1,
.collapsible-rows-div2,
.collapsible-rows-div3,
.collapsible-rows-div4,
.collapsible-rows-div5 {
  /* background-color: white; */
  color: black;
  cursor: pointer;
  padding: 5px;
  width: 90%;
  border-top: 1px solid #c9c3c3;
  text-align: center;
  outline: none;
  font-size: 1em;
  height: 4em;
}

.collapsible-rows-div5 {
  border-bottom: 1px solid #c9c3c3;
}

.active-rows-div1, .collapsible-rows-div1:hover,
.active-rows-div2, .collapsible-rows-div2:hover,
.active-rows-div3, .collapsible-rows-div3:hover,
.active-rows-div4, .collapsible-rows-div4:hover,
.active-rows-div5, .collapsible-rows-div5:hover {
  /* background-color: white; */
}

.collapsible-rows-div1:after,
.collapsible-rows-div2:after,
.collapsible-rows-div3:after,
.collapsible-rows-div4:after,
.collapsible-rows-div5:after  {
  color: black;
  font-weight: bold;
  /* float: right; */
  margin: .7em;
}


.content-rows-div1,
.content-rows-div2,
.content-rows-div3,
.content-rows-div4,
.content-rows-div5{
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /* background-color: #fff; */
} /*Collapsable more button end*/

.about h3 {
  margin: 0;
}

.about p {
  margin: 0 auto;
  width: 90%
}

.about-list {
  padding: 2em 0;
}

.review{
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.avatar{
  width: 10em;
  height: 10em;
  border: 3px solid #f2f0f6;
  border-radius: 50%;
  margin: 0 auto;
}

#avatar-borodina{
  background: url("../images/borodina.jpg") center center/cover no-repeat;
}

#avatar-maximenko{
  background: url("../images/maximenko.jpg") center center/cover no-repeat;
}

#avatar-pryamushkina{
  background: url("../images/pryamushkina.jpg") center center/cover no-repeat;
}

#avatar-skvortsova{
  background: url("../images/skvortsova.jpg") center center/cover no-repeat;
}

#avatar-lik{
  background: url("../images/lik.jpg") center center/cover no-repeat;
}

#avatar-pleshakova{
  background: url("../images/pleshakova.jpg") center center/cover no-repeat;
}



.review i {
  color: #2278c5;
}

.about img{
  border: 6px solid #f2f0f6;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  /*width: 60%;*/
}

.payment {
  background-color: #f7f7f7;
  padding-top: .5em;
}

.black-circle > div {
  padding-bottom: 3em;
}

.black-circle > div > div{
  background-color: black;
  border-radius: 50%;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.payment .container > div {
  margin: 2em 0;
}

#rub,
#euro {
  margin: 1em;
  border-radius: 50px;
  background-color: #21468b;
  color: white;
  width: 5em;
  height: 5em;
}

#euro:before {
    content: ' \20AC   ';
    font-size: 1.5em;
}

#rub:before {
    content: ' \0420';
    font-size: 1.5em;
}

/*Collapsable rub button at the pay menu*/

.collapsible-rubble,
.collapsible-euro  {
  cursor: pointer;
}

/* .collapsible-rubble:hover, */
.active-rubble{
  background-color: #555;
}

.content-rubble {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
} /*Colapsable rub button end*/


/*Collapsable rub button at the pay menu*/


.active-euro, .collapsible-euro:hover {
  background-color: #555;
}

.content-euro {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
} /*Colapsable rub button end*/


i{
  padding: 4px;
  border-radius: 50%;
  color: #222;
}

/*Paynment form*/

.contacts {
  background: url("../images/map_image.png") repeat center, black;
  color: white;
  margin: 0 auto;
  padding-top: .5em;
}

.content-euro h3 {
  padding: 2em;
}

form{
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 2em;
}

.payment {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #d3d3d3;
  font-size: .6em;
}

.package {
  display: inline-block;
  background: url("../images/package.jpg") left center/contain no-repeat;
  width: 50%;
}

.payment-text {
  width: 50%;
}

.price {
  font-size: 1.2em;
  line-height: 2em;
}

input, textarea {
  margin: 1em auto;
  width: 100%;
  height: 3em;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  outline: 0;
  padding: 10px;
  text-align: left;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  text-align:left;
  font-style:normal;
  font-size:0.75em;
  font-weight:300;
  padding-left:7px;
  opacity:.9;
  /* font-family: 'Montserrat', sans-serif; */
}

textarea{
  height: 6.5em;
  resize: none;
}

textarea::-webkit-input-placeholder{
  padding-top: 5px;
}

.pay {
  height: 3em;
  width: 40%;
  margin: 0 auto;
  background-color: #18428e;
  border-style: none;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  letter-spacing: 1.2px;
  font-weight: 100;
  /* font-family: 'Montserrat', sans-serif; */
}/*Paynment form - end*/


/* =================================================
                      FOOTER
================================================== */

footer{
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: #f0eded;
}

footer img {
  width: 100px;
  margin: .2em;
  max-width: 100px;
}

footer p {
  font-weight: 500;
  margin: 2em;
  font-size: 12px;
}

footer i {
  color: white;
  background-color: #222;
  border: 2px solid #222;
  width: 30px;
  height: 30px;
}

/* =================================================
                  MEDIA - TABLET
================================================== */

@media (min-width: 768px) {

  /*header {
    min-height: 100vh;
  }*/


  #div_background > div {
    background: linear-gradient(to right,rgba(0,0,0,0), rgba(0,0,0,0)),
    url("../images/iMac-wide.png") right center/50% no-repeat;
  }

  .top-nav img{
    max-height: 60px;
  }

  .top-nav {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .nav-links,
  .language {
    flex-direction: row;
  }

  .nav-links {
    justify-content: space-around;
    flex-grow: 3;
  }

  .language{
    justify-content: center;
    flex-grow: 1;
    margin: 1em 1em;
    padding: 1em 0 2em;
  }

  .nav-links a,
  .language a{
    padding: 5px 10px;
  }


  .welcome {
    margin: 0;
    display: flex;
    /* justify-content: flex-start; */
    /* width: 50%; */
  }

  #welcome-screen {
    justify-content: flex-end;
    margin: 0 2em;
  }

  #welcome-top,
  #welcome-bottom {
    background-image: none;
  }

  #welcome-top *{
    text-align: left;
    /* margin: 0; */
  }

  #welcome-top {
    /* flex-grow:2; */
    /* align-self: center; */
  }

  #welcome-bottom {
  }



  /* .welcome div *{
    margin: 1em auto;
  }

  .welcome > div{
    margin: 2em auto 2em;
  } */

  .welcome a {
    font-size: 1.2em;
    font-weight: 500;
    padding: 20px 55px
  }

  .contentList {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .contentList > div{
    margin: 0;
  }

  #author .container{
    margin: 1em auto;
  }


  .course-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .course-content > div {
    margin: 10px;
    max-width: 25%;
  }

  .about-list {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .about-list{
    margin-top: 2em;
    padding-top: 0;
  }


  .review{
    display: flex;
    flex-direction: row;
    height: 17em;
    max-width: 100%;
    margin-top:0;
    /* align-items:center; */
    margin-bottom: 3em;
  }

  .empty,
  .review-text{
    width: 38%;
  }

/* .avatar{
  width: 20%;
}

.avatar{
  background: url("../images/container-1.png") center center/contain no-repeat;
  width: 10em;
  height: 10em;
  border: 3px solid #f2f0f6;
  border-radius: 50%;
  margin: 0 auto;
} */

#review h2 {
  padding: 2em 0;
}


  .review-text p,
  .review-text h4,
  .review-text a{
    text-align: left;
    margin: 0;
    padding-right:0;
  }

  .review-text h4,
  .review-text a{
    display: inline;
  }

  .review {
    z-index: 1;
    /* padding-top: 10px; */
  }

  .review:last-child {
    height: auto;
    margin-bottom:0;
  }

    .about-list > div:not(.v-line):nth-child(even) {
      flex-direction: row-reverse;
      /* margin-left: 1em; */
    }

  .about-list{
    padding-bottom: 0;
  }

#review {
  margin: 2em auto 0;
}

#review > div {
  margin: 2em auto;
}

/*



  .about-list > div:not(.v-line):nth-child(odd) {
    justify-content: flex-end;
  }



  /* .about > div > div {
    margin: 2em 0;
  }

  .about img {
    margin: 0 .8em;
  } */

  .about-list > div:not(.v-line):nth-child(even) > div *{
    text-align: right;
  }

  .about-list > div:not(.v-line):nth-child(odd) > div *{
    text-align: left;
  }

  /* .about > div > div > div{
    margin: 0 1em;
  } */

  .about-list {
    position: relative;
  }


  .v-line{
    border-left: 3px solid #f2f0f6;
    height: 100%;
    position: absolute;
    left: 50%;
    /*margin-left: -3px;*/
    top: 0;
    z-index: 0;
  }

  /* .about-list > div:not(.v-line){
    justify-content: flex-start;
  } */
/*
  .about-list > div:not(.v-line) > div{
    width: 35%;
  } */

  .about-list{
    /* width: 800px; */
    margin: 0 auto;
  }


  .black-circle {
    display: flex;
    justify-content: space-around;
  }

  form > div {
    display: flex;
    justify-content: space-around;
  }

  form > div > div,
  form > div > textarea,
  input{
    margin: 0 2em 1em;
  }

  form > div > textarea {
    height: 11em;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items:baseline;
  }

  footer > div{
    flex-grow: 1;
  }

  footer > *{
    width: 33%;
  }
}

/* =================================================
                  MEDIA - PC
================================================== */

@media (min-width: 1024px) {

  .container {
    width: 80%;
    max-width: 1000px;
  }

  header {
    color: white;
    margin: 0;
    /*padding-bottom: .5em;*/
  }

  .top-nav {
    flex-direction: row;
  }

  .welcome {
    width: 50%;
  }

  .welcome > div {
    margin-top: 5em;
  }

}
